<ion-header>
  <ion-toolbar>
    
    <ion-buttons slot="start">
      <ion-button>
        <ion-back-button defaultHref="home">

        </ion-back-button>
      </ion-button>
    </ion-buttons>

    <ion-title>ข้อมูลแมงมุม</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header>
      <ion-img src="\assets\icon\safe-box.png" style="width: 45%; margin-left: 27%;">

      </ion-img>
    </ion-card-header>
    <ion-card-title>
      <ion-button color="primary" expand="full" shape="round" routerLink="/info-spider-thai">
        ข้อมูลแมงมุมที่มีในไทย
      </ion-button>
    </ion-card-title>
  </ion-card>


  <ion-card>
    <ion-card-header>
      <ion-img src="\assets\icon\safe-box.png" style="width: 45%; margin-left: 27%;">

      </ion-img>
    </ion-card-header>
    <ion-card-title>
      <ion-button color="primary" expand="full" shape="round" routerLink="/info-sppder-feverite">
        ข้อมูลแมงมุมที่นิยมเลี้ยง
      </ion-button>
    </ion-card-title>
  </ion-card>

</ion-content>
