<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      หน้าหลัก
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


  <ion-card>
    <ion-card-header>
      <ion-img src="\assets\icon\safe-box.png" style="width: 45%; margin-left: 27%;">

      </ion-img>
    </ion-card-header>
    <ion-card-title>
      <ion-button color="primary" expand="full" shape="round" routerLink="/add-spider">
        เพิ่มแมงมุม
      </ion-button>
    </ion-card-title>
  </ion-card>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card>
            <ion-img src="\assets\icon\clock.png" style="width: 25%;">
            </ion-img>
          <ion-card-title>
            <ion-button class="btnm" color="primary" expand="full" shape="round" routerLink="/add-spider">
              <div>บันทึกการให้อาหาร</div>
            </ion-button>
          </ion-card-title>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card>
          <ion-img src="\assets\icon\clock.png" style="width: 25%;">
          </ion-img>
          <ion-card-title>
            <ion-button class="btnm" color="primary" expand="full" shape="round" routerLink="/add-spider">
              <div>บันทึกการให้อาหาร</div>
            </ion-button>
          </ion-card-title>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>



</ion-content>

<!-- <ion-card>
  <ion-card-header>
    <ion-img src="\assets\icon\clock.png" style="width: 30%; margin-left: 12%;">

    </ion-img>
  </ion-card-header>
  <ion-card-title>
    <ion-button color="primary" expand="half" shape="round" routerLink="/add-spider">
      <div>บันทึกการให้อาหาร</div>
    </ion-button>
  </ion-card-title>
</ion-card> -->

<!-- <ion-card>
  <ion-card-header>
    <ion-img src="\assets\icon\clock.png" style="width: 30%;">

    </ion-img>
  </ion-card-header>
  <ion-card-title>
    <ion-button color="primary" expand="half" shape="round" routerLink="/add-spider">
      <div>ประวัติการให้อาหาร</div>
    </ion-button>
  </ion-card-title>
</ion-card> -->